{
  "name": "Portfolio-project",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/css/style.scss",
      "imports": [
        "assets/css/modules/_variables.scss",
        "assets/css/modules/_fonts.scss",
        "assets/css/modules/_functions.scss",
        "assets/css/modules/_mixins.scss",
        "assets/css/pages/_header.scss",
        "assets/css/pages/_about.scss",
        "assets/css/pages/_projects.scss",
        "assets/css/pages/_contact.scss",
        "assets/css/pages/_footer.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "sftp",
    "remotePath": "public_html",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "server225.web-hosting.com",
      "port": 21098,
      "usePrivateKey": false,
      "username": "josijmxe",
      "password": "brka1936",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      ".psd",
      "*.psd"
    ],
    "history": [
      {
        "file": ".gitattributes",
        "ctime": "2017-11-01T00:07:00.237Z",
        "mtime": "2017-11-01T00:07:00.237Z",
        "size": 65
      },
      {
        "file": "assets/css/style.css",
        "ctime": "2017-11-02T21:36:18.486Z",
        "mtime": "2017-11-02T21:36:18.486Z",
        "size": 16000
      },
      {
        "file": "assets/css/style.css.map",
        "ctime": "2017-11-02T21:36:18.455Z",
        "mtime": "2017-11-02T21:36:18.455Z",
        "size": 8085
      },
      {
        "file": "assets/img/1.jpg",
        "ctime": "2017-11-01T19:06:16.878Z",
        "mtime": "2015-05-20T12:10:46.000Z",
        "size": 45252
      },
      {
        "file": "assets/img/2.jpg",
        "ctime": "2017-11-01T19:06:16.865Z",
        "mtime": "2015-05-20T12:11:04.000Z",
        "size": 37839
      },
      {
        "file": "assets/img/3.jpg",
        "ctime": "2017-11-01T19:06:16.853Z",
        "mtime": "2015-05-20T12:11:34.000Z",
        "size": 90477
      },
      {
        "file": "assets/img/4.jpg",
        "ctime": "2017-11-01T19:06:16.838Z",
        "mtime": "2015-05-20T12:11:56.000Z",
        "size": 33087
      },
      {
        "file": "assets/img/ep_naturalblack.png",
        "ctime": "2017-11-01T19:06:16.807Z",
        "mtime": "2017-10-31T10:40:30.000Z",
        "size": 261640
      },
      {
        "file": "assets/img/logo.png",
        "ctime": "2017-11-01T19:06:16.789Z",
        "mtime": "2017-10-31T10:40:30.000Z",
        "size": 4131
      },
      {
        "file": "assets/img/me5.jpg",
        "ctime": "2017-11-01T19:06:16.768Z",
        "mtime": "2017-10-31T10:40:30.000Z",
        "size": 1504848
      },
      {
        "file": "assets/img/me6.jpg",
        "ctime": "2017-11-01T19:06:16.753Z",
        "mtime": "2017-10-31T10:40:30.000Z",
        "size": 29805
      },
      {
        "file": "assets/img/me7.jpg",
        "ctime": "2017-11-01T19:06:16.739Z",
        "mtime": "2017-10-31T10:40:30.000Z",
        "size": 29008
      },
      {
        "file": "assets/img/me8.jpg",
        "ctime": "2017-11-01T19:06:16.729Z",
        "mtime": "2017-10-31T10:40:30.000Z",
        "size": 25967
      },
      {
        "file": "assets/img/me9.jpg",
        "ctime": "2017-11-01T19:06:16.717Z",
        "mtime": "2017-10-31T10:40:30.000Z",
        "size": 24420
      },
      {
        "file": "assets/img/me9.png",
        "ctime": "2017-11-01T19:06:16.703Z",
        "mtime": "2017-10-31T10:40:30.000Z",
        "size": 54450
      },
      {
        "file": "assets/img/pink dust.png",
        "ctime": "2017-11-01T19:06:16.687Z",
        "mtime": "2017-10-31T10:40:30.000Z",
        "size": 155412
      },
      {
        "file": "assets/img/pink dust2.png",
        "ctime": "2017-11-01T19:06:16.668Z",
        "mtime": "2017-10-31T10:40:30.000Z",
        "size": 154684
      },
      {
        "file": "assets/img/spiration dark.png",
        "ctime": "2017-11-01T19:06:16.652Z",
        "mtime": "2017-10-31T10:40:30.000Z",
        "size": 1827
      },
      {
        "file": "assets/img/stardust.png",
        "ctime": "2017-11-01T19:06:16.631Z",
        "mtime": "2017-10-31T10:40:30.000Z",
        "size": 9106
      },
      {
        "file": "assets/img/texture-dark.jpg",
        "ctime": "2017-11-01T19:06:16.612Z",
        "mtime": "2017-10-31T10:40:30.000Z",
        "size": 62609
      },
      {
        "file": "assets/img/texture-light.png",
        "ctime": "2017-11-01T19:06:16.599Z",
        "mtime": "2017-10-31T10:40:30.000Z",
        "size": 190781
      },
      {
        "file": "index.html",
        "ctime": "2017-11-02T20:55:54.111Z",
        "mtime": "2017-11-02T20:55:54.111Z",
        "size": 16477
      },
      {
        "file": "assets/img/ep_naturalwhite.png",
        "ctime": "2017-11-01T23:32:12.282Z",
        "mtime": "2017-11-01T23:32:12.273Z",
        "size": 250920
      },
      {
        "file": "assets/js/functions.js",
        "ctime": "2017-11-02T21:21:14.464Z",
        "mtime": "2017-11-02T21:21:14.464Z",
        "size": 148
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}