.contact {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding-bottom: rem(60);
  background-color: $light;
  h2 {
    position: relative;
    margin: rem(80) 0 rem(40) 0;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50%;
      height: rem(18);
      background: rgba($dark, 0.3);
      z-index: -1;
    }
  }
}

.contact-content {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  form {
    display: flex;
    flex-flow: column;
    width: 40%;
    box-sizing: border-box;
    padding: 0 rem(40);
    border-left: 2px solid #ffffff;
    input,
    textarea {
      width: 80%;
      margin-bottom: rem(10);
      font-size: rem(16);
      font-family: $font-body;
      padding: rem(10) rem(10);
      box-sizing: border-box;
      border: 2px solid #ffffff;
      border-radius: 2px;
      background-color: #ffffff;
      color: $dark;
      box-shadow: $shadow;
      transition: all 300ms ease-in-out;
    }
     :hover,
     :focus {
      box-shadow: $shadow-large;
      border-color: $main;
      transform: translateY(rem(-2));
    }
     :focus {
      border-color: $main;
      outline: none;
    }
    textarea {
      height: rem(150);
      width: 100%;
    }
  }
  .button {
    background-color: transparent;
  }
  button.button {
    margin-bottom: 0;
    align-self: center;
    &:hover {
      color: $light;
      cursor: pointer;
    }
  }
  .email-me-button-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin-right: rem(40);
    justify-content: flex-start;
    align-content: center;
    text-align: left;
    padding: rem(40);
    width: 40%;
    box-shadow: $shadow-large;
  }
  h4 {
    text-align: left;
    margin: 0;
    text-transform: capitalize;
    font-size: rem(24);
  }
  a.button {
    margin: 0;
  }
  strong {
    margin: 0 rem(30);
  }
}