.header {
    display: flex;
    justify-content: space-between;
    .header-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0 rem(30) 0 0;
        cursor: default;
        svg {
            align-self: stretch;
            padding: rem(32) rem(60);
            fill: $dark;
            background-color: $main;
        }
        h1 {
            align-self: center;
            font-weight: 100;
            font-family: "Lato", sans-serif;
            font-size: rem(48);
            color: $main;
            line-height: 1;
            margin: 0 rem(5) 0 0;
            margin-bottom: rem(10);
        }
    }
    .nav {
        display: flex;
        justify-content: center;
        background-color: $dark;
        box-shadow: $shadow;
        a {
            position: relative;
            display: flex;
            align-items: center;
            align-content: center;
            color: $light;
            text-transform: uppercase;
            font-weight: 300;
            font-size: rem(18);
            letter-spacing: rem(1);
            padding: 0 rem(30);
            text-decoration: none;
            z-index: 1;
            transition: all 300ms ease-in-out;
            &:hover {
                box-shadow: $shadow-large;
                background-color: $main;
                transform: translateY(rem(-2));
            }
        }
    }
}