.header-container {
    background-image: url("/assets/img/bgbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba($light, 0.9);
    .header-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0 rem(30) 0 0;
        cursor: default;
        svg {
            align-self: stretch;
            padding: rem(32) rem(60);
            fill: $light;
            background-color: $main;
        }
        h1 {
            text-transform: capitalize;
            align-self: center;
            font-weight: 100;
            font-family: "Roboto", sans-serif;
            font-size: rem(48);
            color: $main;
            line-height: 1;
            margin: 0 rem(5) 0 0;
            margin-bottom: rem(10);
        }
    }
    .button-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: rem(129);
        height: rem(129);
        align-self: center;
        background-color: rgba($dark, 0.8);
    }
    .button_container {
        position: relative;
        height: $button-height;
        width: $button-width;
        cursor: pointer;
        z-index: 100;
        transition: opacity .25s ease-in-out;
        &:hover,
        &.active {
            .top {
                width: 100%;
            }
            .bottom {
                width: 100%;
            }
        }
        &.active {
            position: fixed;
            .top {
                transform: translateY(11px) translateX(0) rotate(45deg);
                background: $light;
            }
            .middle {
                opacity: 0;
                background: $light;
            }
            .bottom {
                transform: translateY(-11px) translateX(0) rotate(-45deg);
                background: $light;
            }
        }
        span {
            background: $light;
            border: none;
            height: 5px;
            width: 80%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .3s ease-in-out;
            cursor: pointer;
            &:nth-of-type(2) {
                top: 11px;
                width: 100%;
            }
            &:nth-of-type(3) {
                top: 22px;
                width: 70%;
            }
        }
    }
    .overlay {
        position: fixed;
        background: rgba($dark, 1);
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        opacity: 1;
        transform: scalex(0);
        transform-origin: right;
        visibility: hidden;
        transition: opacity .3s, visibility .3s, transform .3s;
        overflow: hidden;
        z-index: 99;
        &.open {
            opacity: 1;
            visibility: visible;
            transform: scalex(1);
            li {
                animation: fadeInUp .5s ease forwards;
                animation-delay: .25s;
                &:nth-of-type(2) {
                    animation-delay: .4s;
                }
                &:nth-of-type(3) {
                    animation-delay: .45s;
                }
                &:nth-of-type(4) {
                    animation-delay: .50s;
                }
            }
        }
        nav {
            position: relative;
            height: 70%;
            top: 50%;
            transform: translateY(-50%);
            font-size: rem(50);
            font-weight: 300;
            text-align: center;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: inline-block;
            position: relative;
            height: 100%;
            li {
                display: block;
                height: 25%;
                height: calc(100% / 4);
                min-height: 50px;
                position: relative;
                opacity: 0;
                a {
                    display: block;
                    position: relative;
                    color: $light;
                    text-decoration: none;
                    z-index: 1000;
                    &:hover:after,
                    &:focus:after,
                    &:active:after {
                        width: 100%;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0%;
                        z-index: -1;
                        height: 50%;
                        background: $main;
                        transition: .25s;
                    }
                }
            }
        }
    }
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            bottom: 20%;
        }
        100% {
            opacity: 1;
            bottom: 0;
        }
    }
}

@media only screen and (max-width: 500px) {
    .header {
        .header-logo-container {
            svg {
                align-self: stretch;
                padding: rem(10) rem(20);
                fill: $light;
                background-color: $main;
            }
            h1 {
                display: none;
            }
        }
        .button-wrap {
            height: rem(85);
            width: rem(85);
        }
        .overlay {
            width: 75%;
            nav {
                font-size: rem(32);
            }
        }
    }
}