.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba($light, 1);
    box-shadow: $shadow;
    .header-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin: rem(30);
        border: 2px solid $main;
        border-radius: 2px;
        svg {
            align-self: stretch;
            height: rem(68);
            padding: rem(2) rem(2) rem(2) 0;
            fill: $light;
            background-color: $main;
        }
        h1 {
            font-weight: 400;
            font-family: "Lato";
            text-transform: uppercase;
            font-size: rem(28);
            color: $main;
            line-height: 1;
            margin: 0 rem(5);
        }
    }
    .nav {
        display: flex;
        justify-content: center;
        background-color: $dark;
        a {
            position: relative;
            align-self: stretch;
            display: flex;
            align-items: center;
            color: $light;
            text-transform: uppercase;
            font-weight: 300;
            font-size: rem(18);
            letter-spacing: rem(1);
            padding: 0 rem(30);
            text-decoration: none;
            z-index: 1;
            transition: all 300ms ease-in-out;
            &:hover {
                box-shadow: $shadow-large;
                background-color: $main;
                transform: translateY(rem(-2));
            }
        }
    }
}