// Variables
$light: #f5f4ec;
$dark: #404c52;
$gray: #acaa98;
$main: #c1533c;
$accent: #cb974c;
$font-headings: "Roboto",
sans-serif;
$font-body: "Lato",
sans-serif;
$shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-large: 0 14px 28px rgba(0, 0, 0, 0.25),
0 10px 10px rgba(0, 0, 0, 0.22);

/* $light: #f5f4ec;
$dark: #404c52;
$gray: #acaa98;
$main: #c1533c;
$accent: #cb974c; */