// Modules
@import "modules/variables";
@import "modules/fonts";
@import "modules/functions";
@import "modules/mixins";
// Pages
@import "pages/header";
@import "pages/about";
@import "pages/projects";
// Tools
html {
    font-size: 16px;
}

body {
    font-family: $font-body;
    background: url("/assets/img/pink dust2.png") repeat 0 0;
    background-attachment: fixed;
    margin: 0;
    color: $light;
    animation: slide 30s linear infinite;
}

.body-overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient( to bottom, rgba($dark, 0.5) 1%, rgba($main, 0.5) 100%);
    background-attachment: fixed;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -400px 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-headings;
    font-weight: 500;
}

p {
    font-size: rem(16);
    line-height: 1.4;
    font-weight: 300;
}